{% extends "main/layout.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="nav_panel offcanvas-header mb-3" style="background: #002033;">
        <a href="" type=""><img class="mx-3 pb-1" src="{% static 'main/img/brand_and_logo.svg' %}" alt="" width="150"></a>
        <a href="{% url 'profile' %}" type="" class="me-3 my-2"><img class="rounded-circle account-img" src="{% static 'main/img/profile.svg' %}" alt="avanav" width="37px" height="37px"></a>
    </div>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group px-3">
                <h5 class="border-bottom mb-2 pb-2">Вход</h5>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        <label for="team_name">Ссылка на твой Telegram</label>
                        <input type="text" name="username" class="form-control">
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.password|as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <p>{{ form.errors }}</p>
            <div class="form-group px-3">
                <button id="button_create_order" class="btn btn-danger dropdown py-2 my-3" type="submit">Войти</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Нужен аккаунт? <a class="ml-2" href="{% url 'register' %}">Регистрация</a>
            </small>
        </div>
    </div>
{% endblock content %}