{% extends "main/layout.html" %}
{% load static %}

{% block content %}

    <div class="nav_panel offcanvas-header mb-3" style="background: #002033;">
        <a href="" type=""><img class="mx-3 pb-1" src="{% static 'main/img/brand_and_logo.svg' %}" alt="" width="150"></a>
        <a href="{% url 'profile' %}" type="" class="me-3 my-2"><img class="rounded-circle account-img" src="{% static 'main/img/profile.svg' %}" alt="avanav" width="37px" height="37px"></a>
    </div>

    <h5 class="px-3 mt-3">Вы вышли из своей учетной записи</h5>
    <div class="border-top pt-1">
        <a href="{% url 'login' %}">
            <div class="form-group px-3">
                <button id="button_create_order" class="btn btn-danger dropdown py-2 my-3" type="submit">Войти</button>
            </div>
        </a>
    </div>
{% endblock content %}