{% extends "main/layout.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}

{% block title %}
    Управление аккаунтом
{% endblock %}

{% block content %}

    <div class="nav_panel offcanvas-header">
        <a href="{% url 'home' %}" type=""><img class="mx-3" src="{% static 'main/img/arrow_back.svg' %}" alt=""></a>
        <p class="m-0" style="font-weight: 600">Управление аккаунтом</p>
        <a href="{% url 'profile' %}" type="" class="me-3 my-2">
            {% thumbnail user.profile.image "37x37" crop="center" upscale=True as im %}
                <img class="rounded-circle article-img" src="{{ im.url }}" alt="">
            {% endthumbnail %}</a>
    </div>

    <div class="container d-flex justify-content-center align-items-center mb-5">
        <div class="card">

            <div class="user text-center">
                <div class="profile">
                    {% thumbnail user.profile.image "80x80" crop="center" upscale=True as im %}
                        <img class="rounded-circle article-img" src="{{ im.url }}" alt="">
                    {% endthumbnail %}
                </div>
            </div>

            <div class="mt-2 text-center">
                <h4 class="mb-0">{{ user.get_full_name }}</h4>
                <span class="text-muted d-block mb-2">{{ user.profile.address }}</span>
                <a href="http://t.me/{{ post.author }}" type="" class="tg_link_profile">@{{ user.username }}</a>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    </div>


      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group px-3">
              <h5 class="border-bottom mb-4 pb-2">Настройки вашего профиля:</h5>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group px-3">
              <br>
              <button id="button_create_order" class="btn btn-danger dropdown py-2 my-1" type="submit">Обновить</button>
          </div>
      </form>
    </div>

    <hr>



    {% if user.is_authenticated %}
        <!-- Кнопка-триггер модального окна -->
        <button type="button" class="btn btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Выход
        </button>

        <!-- Модальное окно -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Подтвердите своё решение</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                Вы уверены, что вы хотите выйти?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                  <a class="" href="{% url 'logout' %}">
                      <button type="button" class="btn btn-danger">Выход</button>
                  </a>
              </div>
            </div>
          </div>
        </div>


        <br><br>
    {% endif %}



{#    {% if user.is_authenticated %}#}
{#        <a class="nav-item nav-link" href="{% url 'profile' %}">Профиль</a>#}
{#        <a class="nav-item nav-link" href="{% url 'logout' %}">Выход</a>#}
{#    {% else %}#}
{#        <a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>#}
{#        <a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>#}
{#    {% endif %}#}

{% endblock content %}