<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>create</title>-->
<!--</head>-->
<!--<body>-->
<!--    -->
<!--</body>-->
<!--</html>-->
{% extends 'main/layout.html' %}

{% block content %}
    <div class="features">
        <h1>Форма для записи заказов</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}


            <input type="text" placeholder="Название заказа" class="form-control"><br>
            <input type="text" placeholder="Стоимость товара" class="form-control"><br>
            <input type="text" placeholder="Стоимость доставки" class="form-control"><br>
            <input type="text" placeholder="Изображение" class="form-control"><br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Опубликовать</button>

        </form>
    </div>
{% endblock %}