{% extends 'main/layout.html' %}
{% load static %}
{% load dateshed %} <!--Подгружает все фильтры для работы с датой-->
{% load thumbnail %}


{% block title %}
    Заказывайте большие порции и делитесь ими, получая оптовую выгоду
{% endblock %}


{% block shedule %}
    {% include 'main/header.html' %}
    <h3>{{ 0|addDays|date:"F" }}</h3>
    <div class="btn-toolbar" role="toolbar" aria-label="Панель инструментов с группами кнопок">
        <div class="group_shed btn-group" role="group" aria-label="Группа" style="background: #1D94CF;">
            <button type="button" class="shed btn btn-lihgt">
                <a href="{% url 'home' %}">
                    <p class="date_orders">{{ 0|addDays|date:"D" }}</p>
                    <p class="date_number">{{ 0|addDays|date:"j" }}</p>
                    <p class="cnt_orders">1 <br> orders</p>
                </a>
            </button>
            <button type="button" class="shed btn btn-lihgt">
                <a href="?date={{ 1|addDays|date:"Y-m-d" }}">
                    <p class="date_orders">{{ 1|addDays|date:"D" }}</p>
                    <p class="date_number">{{ 1|addDays|date:"j" }}</p>
                    <p class="cnt_orders">1 <br> orders</p>
                </a>
            </button>
            <button type="button" class="shed btn btn-lihgt">
                <a href="?date={{ 2|addDays|date:"Y-m-d" }}">
                    <p class="date_orders">{{ 2|addDays|date:"D" }}</p>
                    <p class="date_number">{{ 2|addDays|date:"j" }}</p>
                    <p class="cnt_orders">1 <br> orders</p>
                </a>
            </button>
            <button type="button" class="shed btn btn-lihgt">
                <a href="?date={{ 3|addDays|date:"Y-m-d" }}">
                    <p class="date_orders">{{ 3|addDays|date:"D" }}</p>
                    <p class="date_number">{{ 3|addDays|date:"j" }}</p>
                    <p class="cnt_orders">1 <br> orders</p>
                </a>
            </button>
            <button type="button" class="shed btn btn-lihgt">
                <a href="?date={{ 4|addDays|date:"Y-m-d" }}">
                    <p class="date_orders">{{ 4|addDays|date:"D" }}</p>
                    <p class="date_number">{{ 4|addDays|date:"j" }}</p>
                    <p class="cnt_orders">1 <br>orders</p>
                </a>
            </button>
            <button type="button" class="shed btn btn-lihgt">
                <a href="?date={{ 5|addDays|date:"Y-m-d" }}">
                    <p class="date_orders">{{ 5|addDays|date:"D" }}</p>
                    <p class="date_number">{{ 5|addDays|date:"j" }}</p>
                    <p class="cnt_orders">1 <br> orders</p>
                </a>
            </button>
            <button type="button" class="shed btn btn-lihgt">
                <a href="?date={{ 6|addDays|date:"Y-m-d" }}">
                    <p class="date_orders">{{ 6|addDays|date:"D" }}</p>
                    <p class="date_number">{{ 6|addDays|date:"j" }}</p>
                    <p class="cnt_orders">1 <br> orders</p>
                </a>
            </button>
        </div>
    </div>

{% endblock %}

{% block content %}

{% endblock %}



{% block orders %}

{#    {% for post in posts %}#}
{#        <article class="media content-section">#}
{#          <div class="media-body">#}
{#            <div class="article-metadata">#}
{#              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>#}
{#            </div>#}
{#            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>#}
{#            <p class="article-content">{{ post.price }}</p>#}
{#              <p class="article-content">{{ post.price_deliver }}</p>#}
{#              <p class="article-content">{{ post.cnt_people }}</p>#}
{#              {% thumbnail post.image "960x339" crop="center" upscale=True as im %}#}
{#                <img class="card-img my-2" src="{{ im.url }}">#}
{#              {% endthumbnail %}#}
{#              <p class="article-content">{{ post.date_deliver }}</p>#}
{#              <p class="article-content">{{ post.time_deliver }}</p>#}
{#          </div>#}
{#        </article>#}
{#    {% endfor %}#}


    {% for post in posts %}
        <div class = "d-flex container-fluid pe-0 ps-0 mt-2 ms-0 me-0" id="rectwhite">
            <div class="container ps-0 pe-0 ms-0 me-0">
                <div class="row ms-0">
                    <div class="col-10 pb-2">
                        <div class="d-flex flex-row mt-2">
                            <div class="image m-1 me-2">
                                {% thumbnail post.author.profile.image "45x45" crop="center" upscale=True as im %}
                                    <img class="rounded-circle article-img" src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            </div>

                            <div class="">
                                <div class="">
                                    <p class = "name">{{ post.author.get_full_name }}</p>
                                </div>
                                <div class="">
                                    <a href="http://t.me/{{ post.author }}" type="" class="tg_link">@{{ post.author }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex flex-row mt-2 pe-3" style="float: right">
                            <img class="mt-1" src="{% static 'main/img/3tochki.svg' %}" alt="3tochki" width="4px">
                        </div>
                    </div>
                </div>

                <div class="row mt-0 mx-1">
                    <div class="col">
                        <p style="margin-bottom: 0.5em" class = "fontKril">{{ post.title }}</p>
                    </div>
                </div>
                <div class="row mt-0 mx-1">
                    <div class="col">
                        <p style="margin-bottom: 0.5em" class = "fontzakaz"><font color ="#59D183">{{ post.price }} ₽</font> за заказ + <font color ="#59D183">{{ post.price_deliver }} ₽</font> за доставку на <font color ="#59D183">{{ post.cnt_people }}</font> человека = <font color ="#59D183">212,5 ₽</font> с каждого</p>
                    </div>
                </div>


                    <div class = "d-flex container-fluid mx-0 px-0">
                        <div class="row">
                            <div class="col">
                                {% thumbnail post.image "x1280" crop="top" upscale=True as im %}
                                    <img class="card-img " src="{{ im.url }}">
                                {% endthumbnail %}
                            </div>
                        </div>
                    </div>

                <div class="d-flex flex-row align-items-center justify-content-between my-2 px-3">

                    <div class = "fontzakaz ">в <font color="#59D183">{{ post.time_deliver }}</font> закажу</div>

                    <div> <!--Списать стиль для тега у Танинового Лендинга, лтюо добавить как svg-->
                        {% if post.mod == 'Просто сэкономить' %}
                            <img class="" src="{% static 'main/img/mod1.svg' %}" width="140">
                        {% else %}
                            {% if post.mod == 'Можно посидеть' %}
                                <img class="" src="{% static 'main/img/mod2.svg' %}" width="140">
                            {% else %}
                                <img class="" src="{% static 'main/img/mod3.svg' %}" width="140">
                            {% endif %}

                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    {% endfor %}

{% endblock %}



