{% extends 'main/layout.html' %}
{% load static %}
{% load dateshed %} <!--Подгружает все фильтры для работы с датой-->
{% load thumbnail %}


{% block title %}
    Заказывайте большие порции и делитесь ими, получая оптовую выгоду
{% endblock %}


{#{% block shedule %}#}
{#        <div class="row">#}
{#        <h3>{{ 0|addDays|date:"F" }}</h3>#}
{#            <div class="col">#}
{#                <p>{{ 0|addDays|date:"D" }}</p>#}
{#                <a href="{% url 'order_filter' pk=1 %}"><button type="button" class="btn btn-primary">{{ 0|addDays|date:"j" }}</button></a>#}
{#            </div>#}
{#            <div class="col">#}
{#                <p>{{ 1|addDays|date:"D" }}</p>#}
{#                <a href="{% url 'order_filter' pk=2 %}"><button type="button" class="btn btn-primary">{{ 1|addDays|date:"j" }}</button></a>#}
{#            </div>#}
{#            <div class="col">#}
{#                <p>{{ 2|addDays|date:"D" }}</p>#}
{#                <a href="{% url 'order_filter' pk=3 %}"><button type="button" class="btn btn-primary">{{ 2|addDays|date:"j" }}</button></a>#}
{#            </div>#}
{#            <div class="col">#}
{#                <p>{{ 3|addDays|date:"D" }}</p>#}
{#                <a href="{% url 'order_filter' pk=4 %}"><button type="button" class="btn btn-primary">{{ 3|addDays|date:"j" }}</button></a>#}
{#            </div>#}
{#            <div class="col">#}
{#                <p>{{ 4|addDays|date:"D" }}</p>#}
{#                <a href="{% url 'order_filter' pk=5 %}"><button type="button" class="btn btn-primary">{{ 4|addDays|date:"j" }}</button></a>#}
{#            </div>#}
{#            <div class="col">#}
{#                <p>{{ 5|addDays|date:"D" }}</p>#}
{#                <a href="{% url 'order_filter' pk=6 %}"><button type="button" class="btn btn-primary">{{ 5|addDays|date:"j" }}</button></a>#}
{#            </div>#}
{#            <div class="col">#}
{#                <p>{{ 6|addDays|date:"D" }}</p>#}
{#                <a href="{% url 'order_filter' pk=7 %}"><button type="button" class="btn btn-primary">{{ 6|addDays|date:"j" }}</button></a>#}
{#            </div>#}
{#        </div>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#{% endblock %}#}

{% block orders %}

    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.get_full_name }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.price }}</p>
              <p class="article-content">{{ post.price_deliver }}</p>
              <p class="article-content">{{ post.cnt_people }}</p>
              {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                <img class="card-img my-2" src="{{ im.url }}">
              {% endthumbnail %}
              <p class="article-content">{{ post.date_deliver }}</p>
              <p class="article-content">{{ post.time_deliver }}</p>
          </div>
        </article>
    {% endfor %}

{% endblock %}



