{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Удаление ордера</legend>
                <h2>Вы уверены, что хотите удалить этот ордер? - "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Да, хочу удалить</button>
                <a class="btn btn-outline-secondary" href="{% url 'user-posts' user.username %}">Отмена</a>
            </div>
        </form>
    </div>
{% endblock content %}