{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">  <!--Включение свойства enctype для формы обеспечивает правильное прикрепление загруженного файла к запросу.-->
            {% csrf_token %}
            <div class="nav_panel offcanvas-header py-2">
                <a href="{% url 'user-posts'  user.username %}" type=""><img class="mx-3" src="{% static 'main/img/close_form.svg' %}" alt=""></a>
                <p class="m-0" style="font-weight: 600; font-size: 13px">Собраться, вкусно потусоваться и сэкономить</p>
                <button type="submit" style="border: 0;"><img class="mx-3 my-2" src="{% static 'main/img/done_form.svg' %}"></button>
            </div>
            <fieldset class="form-group px-3">
                <textarea name="title" id="text2"
                placeholder="Что и откуда вы хотите заказать? Чем вы предлагаете заняться? Например: посмотреть кино, создать клуб английского или сыграть в мафию, под квас и пиццу">{{ object.title }}</textarea>

                <script>
                    const textarea = document.querySelector("textarea");
                    textarea.addEventListener("keyup", e => {
                        textarea.style.height = "auto";
                        let scHeight = e.target.scrollHeight;
                        textarea.style.height = `${scHeight}px`;
                    });
                </script>

                <hr class="line1">

                <p id="p1">Выберите дату и время, когда именно вы закажете и соберётесь:</p>

                {{ form.date_deliver|as_crispy_field }}

                {{ form.time_deliver|as_crispy_field }}

                <div class="textlines">

                    <label for="formGroupExampleInput" class="">Стоимость всего товара</label>
                    <div class="input-group">
                      <span class="input-group-text">₽</span>
                      <input type="text" name="price" value="{{ object.price }}" class="form-control" aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-text">.00</span>
                    </div>

                    <label for="formGroupExampleInput" class="">Стоимость доставки</label>
                    <div class="input-group">
                      <span class="input-group-text">₽</span>
                      <input type="text" name="price_deliver" value="{{ object.price_deliver }}" class="form-control" aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-text">.00</span>
                    </div>

                    <div class="">
                        Количество людей
                        <label for="formGroupExampleInput" class="form-label"></label>
                        <input type="text" name="cnt_people" value="{{ object.cnt_people }}" class="form-control" id="formGroupExampleInput1">
                    </div>
                </div>

                <div class="mb-1">
                    <label for="formFile" class="form-label">Добавить фотографию</label>
                    <input class="form-control" name="image" value="{{ object.image }}" type="file" id="formFile">
                </div>

                <input class="form-control" name="mod" type="hidden">
            </fieldset>
        </form>
    </div>
{% endblock content %}
