{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Регистрация
{% endblock %}


{% block content %}

{#    <h3 class = "reg ps-4 pe-4">Регистрация</h3>#}
{#    <form class = "ps-4 pe-4" method="post">#}
{#        {% csrf_token %}#}
{#        <div class="mb-2">#}
{#            <label for="exampleInput1" class="form-label"><b>Имя</b></label>#}
{#            {{ form.username }}#}
{#        </div>#}
{#        <div class="mb-2">#}
{#            <label for="exampleInput2" class="form-label"><b>Фамилия</b></label>#}
{#            {{ form.last_name }}#}
{#        </div>#}
{#        <div class="mb-2">#}
{#            <label for="exampleInputEmail1" class="form-label"><b>Email</b></label>#}
{#            {{ form.email }}#}
{#        </div>#}
{#        <div class="mb-2">#}
{#            <label for="exampleInputPassword1" class="form-label"><b>Пароль</b></label>#}
{#            {{ form.password1 }}#}
{#        </div>#}
{#        <div class="mb-2">#}
{#            <label for="exampleInputPassword2" class="form-label"><b>Подтверждение пароля</b></label>#}
{#            {{ form.password2 }}#}
{#        </div>#}
{#        <div class="mb-2">#}
{#            <label for="exampleInput3" class="form-label"><b>Telegram-link</b></label>#}
{#            {{ form.tg_link }}#}
{#        </div>#}
{#        <div class="mb-2">#}
{#          <label for="Select" class="form-label"><b>Общежитие</b></label>#}
{#        {{ form.adress }}#}
{#          <select id="Select" class="form-select">#}
{#            <option selected disabled>Выберите общежитие</option>#}
{#              {% for adr in data_adress %}#}
{#                  <option>{{ adr.adress }}</option>#}
{#              {% endfor %}#}
{#          </select>#}
{#        </div>#}
{#        <div class="btn-toolbar mt-4 w-50 ps-0 pe-0" role="toolbar" aria-label="Toolbar with button groups">#}
{#            <div class="btn-group mr-2" role="group" aria-label="First group">#}
{#                <button type="button" class="btn btn-secondary">vk</button>#}
{#            </div>#}
{#            <div class="btn-group mr-2 ms-4" role="group" aria-label="Second group">#}
{#                <button type="button" class="btn btn-secondary">tg</button>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <button type="submit" id="butreg" class="btn btn-primary position-relative top-50 start-50 translate-middle mt-5 w-50">Зарегистрироваться</button>#}
{#  </form>#}




    <h3 class = "reg ps-4 pe-4">Регистрация</h3>

    <form method="post">
        {% csrf_token %}
        {{form}}
        <br>
        <input type="submit" value="Зарегистрироваться" class="btn btn-primary">

    </form>

    <a href="{% url 'login' %}">У меня уже есть аккаунт</a>
    <hr>
{% endblock %}