{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}

{% block title %}
    Мои ордера
{% endblock %}

{% block content %}
    <div class="nav_panel offcanvas-header">
        <a href="{% url 'home' %}" type=""><img class="mx-3" src="{% static 'main/img/arrow_back.svg' %}" alt=""></a>
        <p class="m-0" style="font-weight: 600">Мои ордера</p>
        <a href="{% url 'profile' %}" type="" class="me-3 my-2">
            {% thumbnail user.profile.image "37x37" crop="center" upscale=True as im %}
                <img class="rounded-circle article-img" src="{{ im.url }}" alt="">
            {% endthumbnail %}</a>
    </div>

    <img src="{% static 'main/img/hint_in_my_order.svg' %}" alt="" width="100%">

    <div class="container mt-2 py-2" id = "rectwhite">
            <div class="row">
                <div class="btn-group m-0 px-3">
                    <button type="button" id="button_create_order" class="btn btn-danger dropdown py-2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="me-3" src="{% static 'main/img/plus.svg' %}" alt="plus">Создать новый ордер
                    </button>
                    <ul class="dropdown-menu py-0">
                        <li><a class="dropdown-item py-2" id="dropdown-item" href="#">Выберете, мод ордера:</a></li>

                        <li><a href="{% url 'post-create' %}" class="dropdown-item px-3">
                            <div class="link_form_1 d-flex flex-row mt-0 mx-0">
                                <div class="image_icon">
                                    <img src="{% static 'main/img/emoji1.svg' %}" alt="">
                                </div>

                                <div class="">
                                    <div class="">
                                        <p class="my_order_title_mod">Просто сэкономить</p>
                                    </div>
                                    <div>
                                        <p class="my_order_subtitle">на доставке и единице товара<br><span class="subs">(что-то типа баскета🍗)</span></p>
                                    </div>
                                </div>
                            </div>
                        </a></li>

                        <li><a href="{% url 'post-create2' %}" class="dropdown-item px-3">
                            <div class="link_form_1 d-flex flex-row mt-0 mx-0">
                                <div class="image_icon">
                                    <img src="{% static 'main/img/emoji2.svg' %}" alt="">
                                </div>

                                <div class="">
                                    <div class="">
                                        <p class="my_order_title_mod">Можно посидеть, а можно только сэконом...</p>
                                    </div>
                                    <div>
                                        <p class="my_order_subtitle">на доставке и единице товара<br><span class="subs">(например, суши сет🍱)</span></p>
                                    </div>
                                </div>
                            </div>
                        </a></li>

                        <li><a href="{% url 'post-create3' %}" class="dropdown-item px-3">
                            <div class="link_form_3 d-flex flex-row mt-0 mx-0">
                                <div class="image_icon">
                                    <img src="{% static 'main/img/emoji3.svg' %}" alt="">
                                </div>

                                <div class="">
                                    <div class="">
                                        <p class="my_order_title_mod">Собраться, вкусно потусоваться и сэконо...</p>
                                    </div>
                                    <div>
                                        <p class="my_order_subtitle">на доставке и единице товара<br><span class="subs">(или вообще пицца🍕🍕)</span></p>
                                    </div>
                                </div>
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>

    </div>

    <div class="container mt-2 mb-4 px-3">
        <div class="row ms-0">
            <div class = "col myordera mt-2 mb-0 px-0">Мои ордера:</div>
            <div class = "col closetext mt-2 mb-0 d-flex justify-content-end"><button type="button" class="btn btn-primary d-flex justify-content-center" id = "but4">
                {% if page_obj.paginator.count == 0 %}
                    Нет ордеров
                {% else %}
                    {% if page_obj.paginator.count >= 1 %}
                        Всего: {{ page_obj.paginator.count }}
                    {% endif %}
                {% endif %}
            </button></div>
        </div>
    </div>

    {% if posts %}
        {% for post in posts %}
            <div class="control_panel offcanvas-header px-3">
                <a class="" href="{% url 'post-delete' post.id %}"><button type="button" id="button_create_order" class="btn btn-danger dropdown py-2">
                    Ордер заполнен
                </button></a>
                {% if post.mod == 'Просто сэкономить' %}
                    <a class="edit_order" href="{% url 'post-update' post.id %}">Изменить</a>
                {% else %}
                    {% if post.mod == 'Можно посидеть' %}
                        <a class="edit_order" href="{% url 'post-update2' post.id %}">Изменить</a>
                    {% else %}
                        <a class="edit_order" href="{% url 'post-update3' post.id %}">Изменить</a>
                    {% endif %}
                {% endif %}

            </div>

            <div class = "d-flex container-fluid pe-0 ps-0 mt-0 ms-0 me-0" id="rectwhite_in_user_posts">
                <div class="container ps-0 pe-0 ms-0 me-0">
                    <div class="row ms-0">
                        <div class="col-10 pb-2">
                            <div class="d-flex flex-row mt-2">
                                <div class="image m-1 me-2">
                                    {% thumbnail post.author.profile.image "45x45" crop="center" upscale=True as im %}
                                        <img class="rounded-circle article-img" src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </div>

                                <div class="">
                                    <div class="">
                                        <p class = "name">{{ post.author.get_full_name }}</p>
                                    </div>
                                    <div class="">
                                        <a href="http://t.me/{{ post.author }}" type="" class="tg_link">@{{ post.author }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="d-flex flex-row mt-2 pe-3" style="float: right">
                                <img class="mt-1" src="{% static 'main/img/3tochki.svg' %}" alt="3tochki" width="4px">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-0 mx-1">
                        <div class="col">
                            <p style="margin-bottom: 0.5em" class = "fontKril">{{ post.title }}</p>
                        </div>
                    </div>
                    <div class="row mt-0 mx-1">
                        <div class="col">
                            <p style="margin-bottom: 0.5em" class = "fontzakaz"><font color ="#59D183">{{ post.price }} ₽</font> за заказ + <font color ="#59D183">{{ post.price_deliver }} ₽</font> за доставку на <font color ="#59D183">{{ post.cnt_people }}</font> человека</p>
                        </div>
                    </div>

                    <div class="row mt-0">
                        <div class = "d-flex container-fluid ms-0 me-0 pe-0 ps-0" id = "rectscreen">
                            <div class="container blure">
                                <div class="row">
                                    <div class="col">
                                        {% thumbnail post.image "x1280" crop="top" upscale=True as im %}
                                            <img class="card-img " src="{{ im.url }}">
                                        {% endthumbnail %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex flex-row align-items-center justify-content-between my-2 px-3">

                        <div class = "fontzakaz ">в <font color="#59D183">{{ post.time_deliver }}</font> закажу</div>

                        <div> <!--Списать стиль для тега у Танинового Лендинга, лтюо добавить как svg-->
                            {% if post.mod == 'Просто сэкономить' %}
                                <img class="" src="{% static 'main/img/mod1.svg' %}" width="140">
                            {% else %}
                                {% if post.mod == 'Можно посидеть' %}
                                    <img class="" src="{% static 'main/img/mod2.svg' %}" width="140">
                                {% else %}
                                    <img class="" src="{% static 'main/img/mod3.svg' %}" width="140">
                                {% endif %}

                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% else %}
        <img class="mt-4" src="{% static 'main/img/plug_user_profile.svg' %}" style="width: 100%">
    {% endif %}

    <div class="pagination justify-content-center">
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page=1">Первая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
      {% endif %}

    {% endif %}
  </div>

{% endblock content %}

