body {
	font-family: Inter;
	background-color: #ECEDF1;
}

table{
	background-color: #FDFAF5;
	border-radius: 6px;
}

.tdordgr{
	color: #59D183;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

#pop-up-but1{
	background: rgba(255, 255, 255, 0.47);
	border-radius: 30px;
	border: 0px;
	box-shadow: none;
}

#pop-up-but2{
	white-space: nowrap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	color: #002033;
	background: none;
	box-shadow: none;
	border: 0px;
}

#pop-up-but3{
	background: none;
	box-shadow: none;
	border: 0px;
}

#circle1 {
	width: 45px;
	height: 45px;
	border-radius: 25px;
	background: #C5EE6D;
	border: 0px;
	font-weight: 600;
	font-size: 1em;
	color: #002033;
	line-height: 21px;
	text-align: center;
}
.top-container{
	display: flex;
	align-items: center;
}
.card{
	background-color: #fff;
	width: 280px;
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
}

.top-container{
	display: flex;
	align-items: center;
}

.profile-image{
	border-radius: 10px;
	border: 2px solid #5957f9;
}
.name{
	font-size: 1em;
	font-weight: bold;
	color: #002033;
	margin: 5px 2px 0px 0px;
}

.tg_link{
	font-size: 0.8em;
	position: relative;
	bottom: 4px;
	font-style: normal;
	font-weight: 500;
	line-height: 15px;
	text-decoration-line: underline;

	color: #1D94CF;
}

#rectwhite{
	width: 100%;
	border-radius: 15px;
	background-color: #FFFFFF;
	color: #002033;
	border: 0px;
}

.fontKril{
	font-style: normal;
	font-weight: 500;
	color: #002033;
}

.fontzakaz{
	font-style: normal;
	font-weight: 600;
	color: #002033;
	font-size: 1em
}

#rectscreen{
	background-image: url('C://Users/Maxim Sergeev/Desktop/Курсач/Prod-Mobile/img/zakazscreen.png');
	border: 0px;
}

.blure{
	backdrop-filter: blur(55px);
}

#butretwit{
	border: 0px;
	border-radius: 22px;
	background: #F5F5F5;
    color: #888C95;
}

#rectnavfooter{
	width: 100%;
	border-radius: 0px;
	background: #FDFAF5;
	color: #646464;
	border: 0px;
}

#buthome{
	border: 0px;
	border-radius: 0px;
	background: none;
    color: #646464;
}


a {text-decoration: none; color: #002033;}
a:hover {text-decoration: none; color: #002033;}
