#text2 {
    margin-top: 0;
    width: 100%;
    height: 150px;
    font-size: 17px;
    padding-left: 5px;
    resize: none;
    line-height: 22px;

}

#text2, input[type="submit"], input[type="reset"] {
	border: 1px solid #DEE2E6;
    border-radius: 7px;
	padding: 8px 10px 8px 10px;
	cursor: pointer;
	outline: inherit;
}

textarea::-webkit-scrollbar {
    width: 0px;
}

.line1 {
    margin-top: 0;
    margin-bottom: 9px;
}

#p1 {
    /*margin-left: 5px;*/
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    background-color: rgba(255, 223, 110, 0.33);

    padding: 2px 13px;
    border-radius: 3px;
}


.btn btn-secondary dropdown-toggle {
    background: white;
    color: #ffffff;
}

#formGroupExampleInput1 {
	border: 1px solid #DEE2E6;
}

.form-label{
    margin-bottom: 0;
}

#formFile {
    margin-bottom: 30px;
}