body {
	font-family: Inter;
	background-color: #ECEDF1;
}

table{
	background-color: #FDFAF5;
	border-radius: 6px;
}

.tdordgr{
	color: #59D183;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

#pop-up-but1{
	background: rgba(255, 255, 255, 0.47);
	border-radius: 30px;
	border: 0px;
	box-shadow: none;
}

#pop-up-but2{
	white-space: nowrap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	color: #002033;
	background: none;
	box-shadow: none;
	border: 0px;
}

#pop-up-but3{
	background: none;
	box-shadow: none;
	border: 0px;
}

#circle1 {
	width: 45px;
	height: 45px;
	border-radius: 25px;
	background: #C5EE6D;
	border: 0px;
	font-weight: 600;
	font-size: 1em;
	color: #002033;
	line-height: 21px;
	text-align: center;
}

#circle2{
	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	position: relative;
	width: 45px;
	height: 45px;
	background: #D9D9D9;
}

#rectwhite{
	width: 100%;
	border-radius: 15px;
	background-color: #FFFFFF;
	color: #002033;
	border: 0px;
}

.NameUser{
	white-space: nowrap;
	color: #002033;
}

.LinkUser{
	margin-top: -27%;
	white-space: nowrap;
	color: #646464;
}

.fontKril{
	font-style: normal;
	font-weight: 500;
	color: #002033;
}

.fontzakaz{
	font-style: normal;
	font-weight: 600;
	color: #002033;
}

#rectscreen{
	background-image: url('C://Users/Maxim Sergeev/Desktop/Курсач/Prod-Mobile/img/zakazscreen.png');
	border: 0px;
}

.blure{
	backdrop-filter: blur(55px);
}

#butretwit{
	border: 0px;
	border-radius: 22px;
	background: #F5F5F5;
    color: #888C95;
}

#rectnavfooter{
	width: 100%;
	border-radius: 0px;
	background: #FDFAF5;
	color: #646464;
	border: 0px;
}

#buthome{
	border: 0px;
	border-radius: 0px;
	background: none;
    color: #646464;
}


a {text-decoration: none; color: #002033;}
a:hover {text-decoration: none; color: #002033;}
