body {
	font-family: Inter;
	background-color: #ECEDF1;
}

#onlyPhone{
	width: 100%;
	z-index: 10;
}

#onlyPhonediv{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 3000px;
	width: 100%;
	background: #ECEDF1;
	z-index: 10;
}

@media (max-width: 430px) {
	#onlyPhone{
		display: none;
	}

	#onlyPhonediv{
		display: none;
	}
}

table{
	background-color: #FDFAF5;
	border-radius: 6px;
}

.tdordgr{
	color: #59D183;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

#pop-up-but1{
	background: rgba(255, 255, 255, 0.47);
	border-radius: 30px;
	border: 0px;
	box-shadow: none;
}

#pop-up-but2{
	white-space: nowrap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	color: #002033;
	background: none;
	box-shadow: none;
	border: 0px;
}

#pop-up-but3{
	background: none;
	box-shadow: none;
	border: 0px;
}

.group_shed{
	width: 100%;
}

.group_shed p{
	margin-bottom: 9px;
}

.shed {
	background: #FDFAF5;
	border: #FDFAF5;
	height: 103px;
	padding-left: 4px;
	padding-right: 4px;
}

.date_orders{
	font-size: 0.7em;
}

.date_number{
	font-weight: 500;
}

.cnt_orders {
	color: #59D183;
	font-size: 0.5em;
	font-weight: 500;
}

#circle1 {
	width: 45px;
	height: 45px;
	border-radius: 25px;
	background: #C5EE6D;
	border: 0px;
	font-weight: 600;
	font-size: 1em;
	color: #002033;
	line-height: 21px;
	text-align: center;
}
.top-container{
	display: flex;
	align-items: center;
}
.card{
	background-color: #fff;
	width: 280px;
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
}

.top-container{
	display: flex;
	align-items: center;
}

.profile-image{
	border-radius: 10px;
	border: 2px solid #5957f9;
}
.name{
	font-size: 1em;
	font-weight: bold;
	color: #002033;
	margin: 5px 2px 0px 0px;
}

.tg_link{
	font-size: 0.8em;
	position: relative;
	bottom: 4px;
	font-style: normal;
	font-weight: 500;
	line-height: 15px;
	text-decoration-line: underline;

	color: #1D94CF;
}

#rectwhite{
	width: 100%;
	border-radius: 15px;
	background-color: #FFFFFF;
	color: #002033;
	border: 0px;
}

.fontKril{
	font-style: normal;
	font-weight: 500;
	color: #002033;
}

.fontzakaz{
	font-style: normal;
	font-weight: 600;
	color: #002033;
	font-size: 1em
}

.blure{
	backdrop-filter: blur(55px);
}

a {text-decoration: none; color: #002033;}
a:hover {text-decoration: none; color: #002033;}

/*-----Делаем навигацию-----*/

#offcanvasScrollingLabel{
	padding-left: 10px;
}

.big_logo{
	float: left;
}

.offcanvas-title{
	font-style: normal;
	font-weight: 600;
	font-size: 19px;
	color: #002033;
	float: left;
	margin-left: 6px;
	padding: 4px;
}

.offcanvas-body{
	border-top: 0.5px solid #C5C5C5;
}

.div_link1{
}

.div_link2{
	border-top: 0.5px solid #C5C5C5;
}

.image_icon{
	margin: 10px;
	padding: 0;
}

.my_order_title{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 0;

	color: #002033;
	position: relative;
	top: 3px;
}

.my_order_subtitle{
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	margin-bottom: 3px;

	color: #002033;
}

.nav_crutch{
	width: 100%;
	position: relative;
	bottom: 22px;
}

.nav_blur_bubble{
	position: relative;
	bottom: 60px;
	width: 100%;
}

.div_link3{
	position: relative;
	bottom: 141px;
}

.mini_landing{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin: 0 65px 0 33px;

	color: #002033;
	position: relative;
	bottom: 135px;
}

.land_link{
	position: relative;
	bottom: 115px;
	margin: 0 33px;
	background: #C5EE6D;
	border-radius: 12px;
	border: none;
	color: #002033;
	padding: 7px 30px;
	font-weight: 500;
}

.land_link:hover{
	background: #1D94CF;
	color: #002033;
}

.blur_buuble_green{
	position: relative;
	bottom: 226px;
	z-index: -2;
	width: 215px;
	right: 5px;
}